/* Login */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #6C6C6C;
	font-size: 14px;
}

.wrapper .header{
	max-width: 800px;
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.top{
	width: 800;
	box-shadow: 5px 5px 5px 5px;
}

.top,
.signup{
	background: #fff;
    padding: 40px 40px 20px;
}

.logo img{
	display: block;
	margin: 0 auto 35px;
}

.input_field{
	margin-bottom: 5px;
}

.input_field .input{
	width: 100%;
	background: #D2D2D2;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #262626;
	padding: 10px;
}

.input_field .input:focus{
	border: 1px solid #b2b2b2;
}

.btn:hover {
    cursor: pointer;
    background: #7AC7FE;
    color: white;
}

.btn{
	margin: 10px 0;
	background-color: #145F97;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.btn a{
	color: #fff;
	display: block;
}

.or{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15px;
	margin: 15px 0 20px;
}

.or .line{
	width: 300px;
	height: 2px;
	background: #efefef
}

.header .or p{
	color: #999;
	font-size: 12px;
}

    #customBtn {
    	background: white;
    	color: #444;
    	width: 300px;
    	border-radius: 5px;
    	border: thin solid #888;
    	box-shadow: 1px 1px 1px grey;
    	display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 auto;


    }
    #customBtn:hover {
      cursor: pointer;
      background: #145F97;
      color: white;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
      background-color: #189BFA;
    }

    span.icon img{
	width: 16px;
	height: 16px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 7px;

    }

    span.buttonText {
      display: block;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 20px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

.signup a:hover {
    cursor: pointer;
    color: #145F97;
    text-decoration-style: underline;
}

.signup{
	margin: 10px 0 20px;
	padding: 25px 40px;
	text-align: center;
	color: #262626;
}

.signup a{
	color: #3897f0;
}

.footer{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.footer .links ul li{
	display: inline-block;
	margin-right: 10px;
}

.footer .links ul li a{
	color: #fafafa;
	font-size: 12px;
}

.footer .copyright{
	color: #fafafa;	
}



/*Main*/

.lsidebar {
  border-right: 1px solid;
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebarOption {
  align-items: center;
  cursor: pointer;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}
.lsidebar__input {
  display: flex;
  align-items: center;
  background-color: #189BFA;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.lsidebar__input input {
  border: none;
  background-color: #189BFA;
}

.bwrapper {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  background-color: white;
}
.goals {
  flex: 0.5;
  border-right: 1px solid;
  min-width: fit-content;
  overflow-y: scroll;
}

.goals__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid grey;
  padding: 15px 20px;
}

.team_filter {
position: relative;
left: 550px;
}

.goals__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.goals__input img {
  border-radius: 50%;
  height: 40px;
}
.newGoal {
  padding-bottom: 10px;
  border-bottom: 8px solid;
  padding-right: 10px;
}

.newGoal form {
  display: flex;
  flex-direction: column;
}

.newGoal__input {
  display: flex;
  padding: 20px;
}

.newGoal__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.newGoal__button {
  background-color: #189BFA;
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}
/*Feed*/

.feed__avatar img {
  border-radius: 50%;
  height: 40px;
}

.feed {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.feed__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}
/* Right Side Bar*/
.rsidebar {
  flex: 0.3;
}


/* Comment Box */


.comment-box {
	width: 845px;
	padding: 10px;
	margin-bottom: 4px;
	background-color: white;
	border-radius: 4px;
}

.comment-box p {
	font-family: arial;
	font-size: 14px;
	line-height: 16px;
	color: #282828;
	font-weight: 100;
	
}

/*dropdown*/


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
