body {
	background-color: #ddd;
}

textarea {
	width: 850px;
	height: 80px;
	background-color: #fff;
	resize: none;
}

button {
	width: 100px;
	height:  30px;
	background-color: #282828;
	border: none;
	color: #fff;
	font-family: arial;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 60px;

}

.comment-box {
	width: 845px;
	padding: 10px;
	margin-bottom: 4px;
	background-color: white;
	border-radius: 4px;
}

.comment-box p {
	font-family: arial;
	font-size: 14px;
	line-height: 16px;
	color: #282828;
	font-weight: 100;
	
}